body {
  background-color: #283149;
  background-image: url(pawwall.png);
  /* https://www.pngegg.com */
  background-repeat: repeat;
  font-family: 'Montserrat', serif;
  text-align: center;
}

/* Navbar */
.navbar-brand {
  /* font-family: 'Rock Salt', sans-serif;
  font-style: oblique;
  font-weight: 900;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
}

.c-color {
  background-color: #404B69;
  /* opacity: 0.8; */
  border: solid 0.3px;
  padding-bottom: 1rem;
}

#game {

}

h1 {
  font-weight: 900;
  color: oldlace;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 1rem;
}

.logo-font {
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  border: 8px solid #404B69;
  font-size: 5rem;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 1rem;
}

.mrau {
  padding-top: 3rem;
  /* height: 6rem; */
  margin-top: 2rem;
  background-color: #404B69;
  background-image: url(whiteMrau.png);
  background-repeat: repeat-x;
  border: solid 0.3px;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #8f8f8f;
  font-size: 1.2rem;
  font-weight: 400;
}
