body {
  font-family: 'Montserrat', serif;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #E0DDAA;
  background-image: url(slady.png), url(whiteMrau.png);
  background-repeat: no-repeat, round;
}

.navbar-brand {
  font-style: oblique;
  font-weight: 900;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 700;
}

.navbar-toggler-icon {
  color: black;
}

.c-color {
    background-color: #EEEDDE;
    padding: 3rem;
    box-shadow: 0 10px 18px 10px;
    margin: 2rem 0;
}

#game {
  padding: 1rem;
  margin: 3rem 0;
  background-color: #789395;
  background-image: url(test3.png), url(pawwall.png);
  /* https://www.pngegg.com */
  /* background-position: center; */
  background-position: top;
  background-repeat: no-repeat, repeat;
  box-shadow: 0 10px 18px 10px;
}

h1 {
  font-weight: 900;
  color: #FF6464;
  font-size: 3rem;
  line-height: 1.5;
}

h1:hover {
  color: #B33030;
}

h2 {
  font-weight: 900;
  color: #FFE162;
  font-size: 3rem;
  line-height: 1.5;
}

h2:hover {
  color: #B8405E
}

h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #7CD1B8;
}

h3:hover {
  opacity: 0.5;
}

.title {
  margin-bottom: 5rem;
}

.logo-font {
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  border: 6px solid #557B83;
  font-size: 3rem;
  border-radius: 8px;
  width: 9rem;
  height: 9rem;
  text-shadow: 3px 0 #A267AC;
  text-align: center;
  margin: 3px;
  color: #D67D3E;
  background-color: white;
}

.left-position {
  display: flex;
  justify-content: start;
}

.first-button{
  padding-top: 5rem;
}

.right-position {
  display: flex;
  justify-content: end;
  padding-bottom: 4rem;
}

.keyboards {
  margin: 5rem 0;
}

.invisible {
  width: 9rem;
  height: 9rem;
}

.end {
  box-shadow: 0 10px 18px 10px;
}

.colored-section {
padding-bottom: 3rem;
}

.cs-heading {
 color: #B8405E;
}

.cs-heading:hover {
color:#EBD671;
}

.mrau {
  background-color: #203239;
  background-image: url(pawwall.png);
  background-repeat: repeat;
  border: solid 0.01px;
}

.font-awesome {
  color: white;
}

.footer {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
